#task-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#task-form label {
    margin-right: 4px;
    margin-left: auto;
    margin-bottom: 5px;
}

#task-form input {
    margin-bottom: 5px;
    padding: 2px;
}

#description-field {
    box-sizing: border-box;
    width: 100%;
    max-width: 200px;
    height: 50px;
    max-height: 300px;
    padding: 2px;
    margin-bottom: 5px;
}